<!DOCTYPE html>
<html lang="en">
<head>
    <title>La Casa - Real Estate HTML5 Home Page Template</title>
    <meta charset="utf-8">
    <meta name="author" content="pixelhint.com">
    <meta name="description" content="La casa free real state fully responsive html5/css3 home page website template" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/fonts.googleapis.com.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/ace.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/ace-rtl.min.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/main.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
    <section class="hero">

        <header>
            <div class="wrapper">
                <a href="#"><img src="~/Content/img/logo.png" class="logo" alt="" titl="" /></a>
                <a href="#" class="hamburger"></a>
                <nav>
                    <ul></ul>
                    <a href="#" class="login_btn">Login</a>
                </nav>
            </div>
        </header><!--  end header section  -->
        @RenderBody()

    </section><!--  end hero section  -->










</body>
</html>